In [1]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", None)
pd.set_option("display.width", 140)

In [2]:
master = pd.read_csv("../data/raw/nepal_seismicity_master.csv")

print("Dataset shape:", master.shape)
master.head()

Dataset shape: (2733, 20)

,dt,lat,lon,depth,mag,place,source,depth_log,lat_offset,lon_offset,year,month_sin,month_cos,hour_sin,hour_cos,rolling_count_7d,rolling_count_30d,rolling_mean_mag_30d,days_since_last_major,is_major
0,1990-01-09 02:29:26.690000+00:00,28.225,88.163,79.1,5.5,"86 km NNW of Mangan, India",usgs,4.383276,-0.487576,3.192907,1990,0.500000,0.866025,0.500000,0.866025,0,0,0.00,3650.000000,1
1,1990-01-10 23:01:21.960000+00:00,26.559,86.663,68.5,4.7,"8 km WNW of R?jbir?j, Nepal",usgs,4.241327,-2.153576,1.692907,1990,0.500000,0.866025,-0.258819,0.965926,1,1,5.50,1.855501,0
2,1990-01-30 15:06:26.080000+00:00,28.599,85.714,52.4,4.5,"74 km NNW of Kod?ri??, Nepal",usgs,3.977811,-0.113576,0.743907,1990,0.500000,0.866025,-0.707107,-0.707107,0,2,5.10,21.525687,0
3,1990-02-09 15:51:23.020000+00:00,29.925,80.730,33.0,4.6,"20 km ENE of D?rchul?, Nepal",usgs,3.526361,1.212424,-4.240093,1990,0.866025,0.500000,-0.707107,-0.707107,0,2,4.60,31.556902,0
4,1990-02-21 07:21:17.300000+00:00,28.082,82.430,33.0,4.8,"14 km ESE of Tuls?pur, Nepal",usgs,3.526361,-0.630576,-2.540093,1990,0.866025,0.500000,0.965926,-0.258819,0,2,4.55,43.202669,0

In [3]:
master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2733 entries, 0 to 2732
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   dt                     2733 non-null   object
 1   lat                    2733 non-null   float64
 2   lon                    2733 non-null   float64
 3   depth                  1536 non-null   float64
 4   mag                    2733 non-null   float64
 5   place                  2733 non-null   object
 6   source                 2733 non-null   object
 7   depth_log              1536 non-null   float64
 8   lat_offset             2733 non-null   float64
 9   lon_offset             2733 non-null   float64
 10  year                   2733 non-null   int64
 11  month_sin              2733 non-null   float64
 12  month_cos              2733 non-null   float64
 13  hour_sin               2733 non-null   float64
 14  hour_cos               2733 non-null   float64
 15  rolling_count_7d       2733 non-null   int64
 16  rolling_count_30d      2733 non-null   int64
 17  rolling_mean_mag_30d   2733 non-null   float64
 18  days_since_last_major  2733 non-null   float64
 19  is_major               2733 non-null   int64
dtypes: float64(13), int64(4), object(3)
memory usage: 427.2+ KB

In [4]:
master = master.rename(columns={
    "dt": "timestamp",
    "lat": "latitude",
    "lon": "longitude",
    "mag": "magnitude"
})

In [5]:
master["timestamp"] = pd.to_datetime(
    master["timestamp"],
    utc=True,
    infer_datetime_format=True
)

master["timestamp"].isna().sum()

/var/folders/bv/mp08q1_52dz_qbs5_34gjdfr0000gn/T/ipykernel_6926/1593710061.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  master["timestamp"] = pd.to_datetime(

ValueError: time data "1994-03-08 02:05:00+00:00" doesn't match format "%Y-%m-%d %H:%M:%S.%f%z", at position 50. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [6]:
master = pd.read_csv("../data/raw/nepal_seismicity_master.csv")

master = master.rename(columns={
    "dt": "timestamp",
    "lat": "latitude",
    "lon": "longitude",
    "mag": "magnitude"
})

In [7]:
master["timestamp"] = pd.to_datetime(
    master["timestamp"],
    format="mixed",
    utc=True
)

In [8]:
master["timestamp"].isna().sum()

np.int64(0)

In [9]:
master["timestamp"].min(), master["timestamp"].max()

(Timestamp('1990-01-09 02:29:26.690000+0000', tz='UTC'),
 Timestamp('2025-12-07 02:43:07.342000+0000', tz='UTC'))

In [10]:
master["year"] = master["timestamp"].dt.year
master["month"] = master["timestamp"].dt.month

In [11]:
validated = master.dropna(subset=[
    "timestamp",
    "latitude",
    "longitude",
    "magnitude"
])

In [12]:
validated.to_csv(
    "../data/processed/seismic_master_validated.csv",
    index=False
)

validated.shape

(2733, 21)